<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>179066162174-ao1jjedetcpgvlcacukfohm4su5at7sh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179066162174-ao1jjedetcpgvlcacukfohm4su5at7sh</string>
	<key>API_KEY</key>
	<string>AIzaSyCYBjsmewU9rslJVEWUK61rn9_nuWo_mpI</string>
	<key>GCM_SENDER_ID</key>
	<string>179066162174</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>msg24926787-gmail.com.ChatApp1</string>
	<key>PROJECT_ID</key>
	<string>chatapp-15c6a</string>
	<key>STORAGE_BUCKET</key>
	<string>chatapp-15c6a.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179066162174:ios:4d5ceac577a4c3deb78eaf</string>
	<key>DATABASE_URL</key>
	<string>https://chatapp-15c6a.firebaseio.com</string>
</dict>
</plist>